<!--Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Họ:</label>
                        <input type="text" class="form-control" id="recipient-name" name="ho" ng-model="vm.benhNhan.ho">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Tên:</label>
                        <input class="form-control" id="message-text" name="ten" ng-model="vm.benhNhan.ten" >
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">CMND:</label>
                        <input class="form-control" id="message-text" name="cmnd" ng-model="vm.benhNhan.cmnd">
                    </div> 
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Giới Tính:</label>
                        <input class="form-control" id="message-text" name="gioiTinh" ng-model="vm.benhNhan.gioiTinh"/>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Địa Chỉ:</label>
                        <input class="form-control" id="message-text" name="diaChi" ng-model="vm.benhNhan.diaChi">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">SĐT:</label>
                        <input class="form-control" id="message-text" name="sdt" ng-model="vm.benhNhan.soDienThoai">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Ngày sinh:</label>
                        <input class="form-control" id="message-text" name="ns" ng-model="vm.benhNhan.ngaySinh" ">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="vm.save(vm)" ng-show="vm.showSubmit">Submit</button>
                <button type="button" class="btn btn-primary" ng-click="vm.edit(vm)" ng-show="vm.showEdit">Edit</button>
            </div>
        </div>
    </div>
</div>
<!--Display-->
<div class="row clearfix" >
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                    <h2>
                        Bệnh nhân
                    </h2>
                    <ul class="header-dropdown m-r--5">
                        <i class="fa fa-spin fa-spinner" ng-if="isTableLoading"></i>
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);" class="waves-effect waves-block()" ng-click="vm.refresh();"><i class="material-icons">refresh</i>Refresh</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            @*<button ng-click="vm.click()" value="test">Hello</button>*@
            
            <div class="body table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Họ</th>
                            <th>Tên</th>
                            <th>CMND</th>
                            <th>Giới Tính</th>
                            <th>Địa chỉ</th>
                            <th>SĐT</th>
                            <th>Ngày Sinh</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="benhNhan in vm.DSbenhNhans">
                            <td>{{benhNhan.ho}}</td>
                            <td>{{benhNhan.ten}}</td>
                            <td>{{benhNhan.cmnd}}</td>
                            <td>{{benhNhan.gioiTinh}}</td>
                            <td>{{benhNhan.diaChi}}</td>
                            <td>{{benhNhan.soDienThoai}}</td>
                            <td>{{benhNhan.ngaySinh|date:'dd-MM-yyyy'}}</td>
                            <td class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">menu</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);" class="waves-effect waves-block" ng-click="vm.openBenhNhanEditModal(benhNhan)"><i class="material-icons">create</i>Edit</a></li>
                                    <li><a href="javascript:void(0);" class="waves-effect waves-block" ng-click="vm.delete(benhNhan)"><i class="material-icons">delete_sweep</i>Delete</a></li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <button type="button" data-toggle="modal" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" ng-click="vm.openBenhNhanCreationModal()">
                    <i class="material-icons">add</i>
                </button>
            </div>
        </div>
    </div>
</div>